@import "./variables";
@import "./mixins";

html, body { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: $font-secondary;
    min-height: 100vh;
}

.thin-line {
    width: 100%;
}

