<header class="main-header">
    <div class="title-container">
        <a href="/" class="title-link">
            <h1 class="main-title">Malin's Recipe Box</h1>
        </a>
        <div class="profile">
            <i class="bi bi-person-circle" aria-hidden="true"></i>
        </div>
    </div>

    <nav class="header-navbar">
        <div class="profile-functions">
            <i class="bi bi-person-circle" aria-hidden="true"></i>
            <a href="#" class="nav-link">Sign in</a>
            <a href="#" class="nav-link">Register</a>
        </div>

        <div class="search-container">
            <input type="text" id="search-field" placeholder="Search..." aria-label="Search">
            <button class="search" title="Search" aria-label="Search">
                <i class="bi bi-search" aria-hidden="true"></i>
            </button>
        </div>
    </nav>
</header>

<hr class="thin-line">

<main></main>

<footer>
    <section class="footer"></section>
</footer>