<header class="main-header">
    <div *ngIf="isMobile()" class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <h1 class="main-title">Malin's Recipe Box</h1>
    <nav class="header-navbar">
        <div class="profile-functions">
            <i class="bi bi-person-fill"></i>
            <h3>Sign in</h3>
            <h3>Register</h3>
        </div>
        <div class="search-functions">
            <input type="text" id="search-field" placeholder="Search...">
            <button class="search" title="Search">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </nav>
</header>
<hr class="thin-line">

<main></main>

<footer>
    <section class="footer"></section>
</footer>