@use "../../../assets/styles/variables";
@import "../../../assets/styles/styles.scss";
@import "../../../assets/styles/mixins.scss";

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2rem 1.3rem 1.3rem 1.3rem; 
    background-color: $color-secondary;
}

.title-container {
    margin: 0;
    text-align: center;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 1rem;
    }
}

.profile {
    display: none;
    font-size: 2.5rem;
    color: $color-tertiary;

    @media (max-width: 768px) {
        display: inline;
    }
}

.title-link {
    @include h1-style;
    font-size: 1.8rem;
    text-decoration: none;

    @media (max-width: 768px) {
        @include h1-style;
        flex-grow: 1;
        text-align: center;
        margin: 0;
    }
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0.8rem;
    left: 0;
    padding: 0 1.3rem;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}


.profile-functions {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: $color-tertiary;
    gap: 2.5rem;
    flex-grow: 1;

    @media (max-width: 768px) {
        display: none;
    }
}

.nav-link {
    @include link-style;
    text-decoration: none;
    margin-right: 1rem;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    flex-grow: 2;

    @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
        padding: 10px 1rem;
    }
}

#search-field {
    padding: 0.7rem;
    border-radius: 4px;
    border: 1px solid #000;
    width: 50%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

button.search {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: $h2-size;

    @media (max-width: 768px) {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: $h2-size;
    }
}
