@use "../../../assets/styles/variables";
@import "../../../assets/styles/styles.scss";
@import "../../../assets/styles/mixins.scss";

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.recipe-title-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    @include h1-style;
}

.recipe-image {
    width: 75%;
    height: auto;
    margin: 2rem 0;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.ingredients-container {
    margin-bottom: 2rem;
}
.ingredients-title,
.instructions-title {
    @include subheader-style;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    
}

.ingredients-list {
    margin-top: 0;
    list-style-type: square;
    padding-left: 1.5rem;

    li {
        margin-bottom: 0.3rem;
    }
}

.instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
.instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.share-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.9rem;
    border: none;
    cursor: pointer;

    p {
        @include link-style;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-tertiary;
    }

    i {
        font-size: 1.1rem;
        font-weight: 700;
    }
}
