<header class="main-header">
    <div class="title-container">
        <a href="/" class="title-link">
            <h1 class="main-title">{{ title }}</h1>
        </a>

        <div class="profile" *ngIf="isMobile">
            <i class="bi bi-person-circle" aria-hidden="true" (click)="toggleDropdown()"></i>
            <div class="dropdown-menu" *ngIf="dropdownOpen">
                <a class="dropdown-item" *ngIf="!loggedIn" (click)="onSignIn()">Sign in</a>
                <a class="dropdown-item" *ngIf="!loggedIn" (click)="onRegister()">Register</a>
                <a [routerLink]="['/my-page']" class="dropdown-item" *ngIf="loggedIn">My page</a>
                <a href="#" class="dropdown-item" *ngIf="loggedIn" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>

    <nav class="header-navbar">
        <div class="profile-functions" *ngIf="!isMobile">
            <i class="bi bi-person-circle" aria-hidden="true"></i>
            <a [routerLink]="['/sign-in']" class="nav-link">Sign in</a>
            <a [routerLink]="['/register']" class="nav-link">Register</a>
        </div>

        <div class="search-container">
            <input type="text" id="search-field" placeholder="Search..." aria-label="Search">
            <button class="search" title="Search" aria-label="Search">
                <i class="bi bi-search" aria-hidden="true"></i>
            </button>
        </div>
    </nav>
</header>

<hr class="thin-line">
