<form class="filter-form">
    <div class="closable" data-closable>
        <button class="close-btn" aria-label="Close alert" type="button" mat-button (click)="closeDialog()" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="filter-options">
        <div class="meal-type">
            <h2 class="mealType">Meal type</h2>
            <div class="meal-type-options">
                <mat-checkbox #breakfastCheckbox value="breakfast" name="mealType">Breakfast</mat-checkbox>
                <mat-checkbox #lunchCheckbox value="lunch" name="mealType">Lunch</mat-checkbox>
                <mat-checkbox #dinnerCheckbox value="dinner" name="mealType">Dinner</mat-checkbox>
            </div>
        </div>

        <div class="preferences">
            <h2 class="preferences">Preferences</h2>
            <div class="preferences-options">
                <mat-checkbox #vegetarianCheckbox value="vegetarian"name="preferences">Vegetarian</mat-checkbox>
                <mat-checkbox #veganCheckbox value="vegan"name="preferences">Vegan</mat-checkbox>
                <mat-checkbox #glutenfreeChec value="glutenfree" name="preferences">Gluten-free</mat-checkbox>
            </div>
        </div>
    </div>
    <button class="submit-btn" type="button" (click)="applyFilter($event)">Apply</button>
</form>
