<!-- Filter Form Component Template -->

<!-- Form for selecting meal type and diet preference -->
<form class="filter-form" [formGroup]="form">
    <div class="filter-options">
        <div class="meal-type">
            <h2 class="mealType">Meal type</h2>
            <div class="meal-type-options" formArrayName="mealType">
                <mat-checkbox *ngFor="let mealTypeControl of mealTypeArray.controls; let i = index" 
                [formControlName]="i">
                {{ mealTypeLabels[i] }}
            </mat-checkbox>
            </div>
        </div>

        <div class="preference">
            <h2 class="preference">Preferences</h2>
            <div class="preference-options" formArrayName="preference">
                <mat-checkbox *ngFor="let preferenceControl of preferenceArray.controls; let i = index" 
                [formControlName]="i">
                {{ preferenceLabels[i] }}
            </mat-checkbox>
            </div>
        </div>
    </div>
    <button class="submit-btn" type="button" (click)="onSubmit()">Apply</button>
</form>
