@use "../../../assets/styles/variables";
@import "../../../assets/styles/styles.scss";
@import "../../../assets/styles/mixins.scss";

.filter-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 1rem 1rem 1rem;
 
    @media (max-width: 768px) {
        flex-direction: column;
        width: auto;
    }
}

.submit-btn {
    @include button;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
    order: 1;
    width: 50%;

    &:hover {
        background-color: darken($color-tertiary, 10%);
    }

    @media (max-width: 768px) {
        margin: 1rem 0;
    }
}

.closable {
    display: none;
    
    @media (max-width: 768px) {
        display: block;
        align-self: end;
    }
}

h2 {
    @include h2-style;
    text-transform: uppercase;
    padding-right: 3rem;
}

.filter-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.meal-type-options,
.preferences-options {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @media (max-width: 768px) {
        padding-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .close-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $color-primary;
        font-size: $h1-size;
    }
}

