<main class="recipe-list-container">
    <div class="recipe-list">
        <div class="recipe-display" *ngFor="let recipe of displayedRecipes">
            <a [routerLink]="['/recipe-view', recipe.id]">
                <img [src]="recipe.image" alt="{{recipe.title}}" class="recipe-image"/>
            </a>
            <div class="recipe-title-overlay">
                <h1>{{ recipe.title }}</h1>
            </div>
            <app-recipe-info></app-recipe-info>
            <hr>
        </div>
    </div>
    <div class="pagination-btns">
        <button class="load-more-btn" (click)="loadRecipes()">Load more</button>
        <button class="scroll-to-top-btn" (click)="scrollToTop()">
            <i class="bi bi-arrow-up-circle"></i>
        </button>
    </div>
</main>
  
