<main class="recipe-list-container">
    <div class="recipe-list">
        <div class="recipe-display" *ngFor="let recipe of recipes">
            <a [routerLink]="['/recipe-view', getIdFromUri(recipe.uri)]"
            [queryParams]="{ mealType: filters.mealType, preference: filters.preference }">
                <img [src]="recipe.image" alt="{{recipe.label}}" class="recipe-image"/>
            </a>
            <div class="recipe-title-overlay">
                <h1>{{ recipe.label }}</h1>
            </div>

            <div class="recipe-info">
                <p class="recipe-time">Cooking Time: {{ recipe?.totalTime }} minutes</p>
                <button class="favorite-btn">
                    <i class="bi bi-heart"></i>
                </button>
            </div>
            
            <hr>
        </div>
    </div>

    <div class="pagination-btns" *ngIf="!allRecipesLoaded">
        <button class="load-more-btn" (click)="loadRecipes(filters, filtersChanged)">Load more</button>
        <button class="scroll-to-top-btn" (click)="scrollToTop()">
            <i class="bi bi-arrow-up-circle"></i>
        </button>
    </div>
</main>
  
