@use "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/styles.scss";
@import "../../../../assets/styles/mixins.scss";

.footer {
    width: 100%;
    min-height: 10rem;
    background-color: $color-quaternary;
}
