@use "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/styles.scss";
@import "../../../../assets/styles/mixins.scss";

.user-form {
    @include form-layout;
}

.form-title {
    margin-bottom: 1.5rem;

    h2 {
        text-align: center;
        @include profile-heading;
    }
}

.submit-btn {
    margin: 2rem 0.5rem 0.5rem 0.5rem;
    order: 1;
    width: auto;
    @include button;
}

.closable {
    display: none;
    
    @media (max-width: 768px) {
        display: block;
        align-self: end;
    }
}

@media (max-width: 768px) {
    .close-btn {
        @include close-x-btn;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0.3rem 0;
    
    label {
        text-transform: uppercase;
        color: $color-tertiary;
    }

    input {
        padding: 0.3rem;
        border: 1px solid $color-secondary;
        
    }
}


