
$font-primary: 'Merriweather', serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Lora', serif;

$size-primary: 1.8rem;
$size-secondary: 1.2rem;

$color-primary: black;
$color-secondary: white;
$color-tertiary: grey;