@use "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/styles.scss";
@import "../../../../assets/styles/mixins.scss";

.register-container {
    display: grid;
    width: 100%;
}

.submit-btn {
    margin: 2rem 0.5rem;
    order: 1;
    width: auto;
    @include button;

    
    &:hover {
        background-color: darken($color-tertiary, 10%);
    }
}
