<section class="filter-section">
    <span class="meal-type">
        <h2>Meal type</h2>
        <div class="meal-type-options">
            <label>Breakfast
                <input type="checkbox" name="mealType" value="breakfast">
            </label>
            <label>Lunch
                <input type="checkbox" name="mealType" value="lunch">
            </label>
            <label>Dinner
                <input type="checkbox" name="mealType" value="dinner">
            </label>
        </div>
    </span>

    <span class="preferences">
        <h2>Preferences</h2>
        <div class="preferences-options">
            <label>Vegetarian
                <input type="checkbox" name="preferences" value="vegetarian">
            </label>
            <label>Vegan
                <input type="checkbox" name="preferences" value="vegan">
            </label>
            <label>Gluten-free
                <input type="checkbox" name="preferences" value="glutenfree">
            </label>
        </div>
    </span>

   
    
</section>
<hr>
