@use "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/styles.scss";
@import "../../../../assets/styles/mixins.scss";

.filter-container {
  display: grid;
  width: 100%;
}

.filter-btn {
  @include button;

  i {
    margin-right: 0.5rem;
  }
}

 






