@use "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/styles.scss";
@import "../../../../assets/styles/mixins.scss";

.filter-container {
  display: grid;
  width: 100%;
}

.form-filter {
  display: block;
}

.mobile-filter-btn {
  display: none;
}

.filter-btn {
  @include button;

  i {
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .form-filter {
    display: none;
  }

  .mobile-filter-btn {
    display: block;
  }

  .filter-form-visible .form-filter {
    display: block;
  }



}


 






