
$font-primary: 'Merriweather', serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Lora', serif;

$h1-size: 1.8rem;
$h2-size: 1.3rem;
$h3-size: 1rem;

$h1-size-mobile: 1.2rem;
$h2-size-mobile: 1.2rem;
$h3-size-mobile: 0.9rem;

$color-primary: black;
$color-secondary: white;
$color-tertiary: grey;
$color-quaternary: rgba(53, 77, 87, 0.8);